.project-list {
  display: flex;
  flex-wrap: wrap;
  // align-items: flex-end;
  gap: 50px;
  margin-bottom: 4rem;
  justify-content: center;
  
  @include mq('medium') {
    justify-content: flex-start;
  }
  &__item {
    max-width: 446.5px;
    width: 100%;
    @include mq('medium') {
      width: calc(33% - 35px);
    }
  }
  
  .project-image {
    max-height: 325px;
    max-width: 100%;
    border: 2px solid #000;
  }

  .project-title {
    font-size: 1.7rem;
  }

  .project-links {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
  }

.view-project-link {
    background-color: #EFFFFF;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid black;

    a {
      color: #6e39ff;
    }

    a::after {
      content: "";
      @extend %arrow, %right;
      border-color: #000;
      position: relative;
      left: 5px;
      bottom: 1px;
    }
  }
}