
* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  
  scroll-behavior: smooth; // anchor link smooth scrolling
}

h1, h2, h3, h4, h5, h6, a {
  font-weight: 600;
  font-family: "JetBrains Mono", monospace;
}

body, i {
  color: #000;
  background-color: #fff;
}


a {
  color: #4e006d;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}