//==========================================//
//                 VARIABLES
//==========================================//



//==========================================//
//          MEDIA QUERY BREAKPOINTS 
//==========================================//

$break--xs: 380px;
$break--sml: 576px;
$break--med: 768px;
$break--l: 992px;
$break--xl: 1200px;

// Border
$nav-border: 5px solid #a0a7d7;
$nav-height: 328px;